@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@apply bg-gray-900 text-gray-100;
	-webkit-font-smoothing: antialiased;
}

a {
	display: block;
}

input, textarea {
	@apply text-gray-900;
	outline: none;
	border: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #29292E;
}

::-webkit-scrollbar-thumb {
  background: #8D8D99;
}

::-webkit-scrollbar-thumb:hover {
  background: #C4C4CC;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4
	}
	to {
		opacity: 1
	}
}