* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, input {
	font: 500 1.25rem 'JetBrains Mono', sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	background: black;
	color: white;
}

h1 {
	text-align: center;
}

label {
	text-align: left;
	display: block;
	margin: 32px 0 8px 0;
}

input {
	display: block;
	width: 400px;

	padding: 12px;
	outline: none;
	border: none;
}

output {
	font-size: 1.6rem;
}